.couleur{
  color:#4d4441;
}

.pdfpdf{
  margin-top: 2rem;
  background-image:url("./../../../assets/img/pdfpdf.png") ;
  background-size: 1.5rem;
  background-position: 1.5rem;
  background-repeat: no-repeat;
}

.word{
  background-image:url("./../../../assets/img/word.png") ;
  background-size: 1.5rem;
  background-position: 1.5rem;
  background-repeat: no-repeat;
}
.faceb{
  background-image:url("./../../../assets/img/facebook.png") ;
  background-size: 1.5rem;
  background-position: 1.5rem;
  background-repeat: no-repeat;
}
.instag{
  background-image:url("./../../../assets/img/instagram.png") ;
  background-size: 1.5rem;
  background-position: 1.5rem;
  background-repeat: no-repeat;
}

