/* You can add global styles to this file, and also import other style files */
@import '~materialize-css/dist/css/materialize.css';
@import'~material-design-icons/iconfont/material-icons.css';

body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #bcaaa4;
    background-image:url("./assets/img/scanner-256.png");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: 70%;
   
    height:100vh;
    width: 100%;
    margin:0;
}

main {
    flex: 1 0 auto;
}

app-camera,app-preview, app-share-list, app-format-list,app-welcome, app-filter, app-cropper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

p{ 
    margin-left: 35vw;
    text-align: left;
    line-height: 2em;
    font-size: 1.5em;
}

.share{
    font-size: 1.5em;
    vertical-align: middle;
}

.cadre{
    height: 80vh;
    width: 90vw;
    border: 3px solid #00766c;
    border-radius: 10px;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 12vh;
    left:5vw
}

.material-icons {
    color: rgb(7, 6, 10) !important;
}

.greyproject{
    background-color: #bcaaa4 ;
   }
  
 .greenproject {
    background-color: #26a69a ;
}

.input{
    color: whitesmoke !important;
}

.btnsending{
    text-transform: none !important;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom:1rem ;
    color: black !important;
}

header{
    background-color: #26a69a ;
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    }

 h1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .3em;
    margin-right: .3em;
    }

.btn{
    color: #212121;
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    border: 2px solid #4d4441;
    
    }
.footerWithoutGreen {
    background: none ;
    }